sphinx<9
sphinx-rtd-theme
myst-parser
sphinx-autodoc-typehints
sphinx-copybutton
numpy~=2.2.6
scikit-learn~=1.7.0
networkx~=3.4.2
scipy~=1.15.3
pandas~=2.3.0
matplotlib~=3.10.3
matplotlib-inline==0.1.7=1.7.0
scipy~=1.15.3